include *.txt
include *.py
include *.rst
include .travis.yml
include *.cfg
recursive-include Extensions *.py
recursive-include Products *.cpt
recursive-include Products *.metadata
recursive-include Products *.txt
recursive-include Products *.xml
recursive-include Products *.zcml
recursive-include Products *.zpt
recursive-include Products *.po
recursive-include Products *.pot
recursive-include Products *.robot
recursive-include Products *.sh